<div *ngIf="utilisateur">


  <!-- Header de la page d'edition (fixer en haut de la page) -->
  <div class="navbar-fixed-top">
    <mat-toolbar class="toolContainer">

      <!-- Titre -->
      <mat-toolbar-row>
        <div class="title">
          {{ajout ? 'Ajout d\'utilisateur' : '' + utilisateur.email + ' - ' + utilisateur.id }}
        </div>
      </mat-toolbar-row>

      <!-- Les btn -->
      <mat-toolbar-row>
        <div class="toolbar">
          <!-- Btn retour arriere -->
          <div class="leftTool">
            <i (click)="goBack()" class="material-icons backArrow"
               matTooltip="Revenir en arrière"
               matTooltipPosition="after">arrow_back</i>
          </div>
          <!-- Btn validation/annuler/suppr -->
          <div class="rightTool">
            <button (click)="confirmModal(deleteModal)" *ngIf="!ajout"
                    class="btn btn-danger pull-right centrer-block" matTooltip="Supprimer l'utilisateur"
                    matTooltipPosition="below" type="button">
              <b class="noShow">Supprimer</b>
              <i class="material-icons">delete</i>
            </button>
            <button (click)="saveUser()" [disabled]="!formIsValid()"
                    class="btn btn-success pull-right centrer-block" matTooltip="Enregistrer les modifications"
                    matTooltipPosition="below" type="submit">
              <b class="noShow">Sauvegarder</b>
              <i class="material-icons">save</i>
            </button>
            <button (click)="cancelModification()" *ngIf="!ajout" [disabled]="!formIsValid()"
                    class="btn btn-warning pull-right centrer-block" matTooltip="Annuler les modifications"
                    matTooltipPosition="below" type="button">
              <b class="noShow">Annuler</b>
              <i class="material-icons">settings_backup_restore</i>
            </button>
          </div>
        </div>
      </mat-toolbar-row>

      <!-- Message d'alerte -->
      <mat-toolbar-row *ngIf="!cacherSucces || !cacherErreur">
        <div class="alerteDiv">
          <div *ngIf="!cacherSucces" [hidden]="cacherSucces" class="alert alert-success" role="alert">{{message}}</div>
          <div *ngIf="!cacherErreur" [hidden]="cacherErreur" class="alert alert-danger" role="alert">{{message}}</div>
        </div>
      </mat-toolbar-row>

    </mat-toolbar>
  </div>


  <!-- Zone edition utilisateur -->
  <div *ngIf="isLoad" class="content">
    <mat-accordion multi="true">

      <!-- Detail de l'utilisateur -->
      <mat-expansion-panel [expanded]="true">
        <!-- Titre & Description -->
        <mat-expansion-panel-header>
          <mat-panel-title>
            Détails
          </mat-panel-title>
          <mat-panel-description>
            <div class="descriptionPanel">Modifier les details de l'utilisateur</div>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <!-- Contenu -->
        <form [formGroup]="formDetail" id="formUtilisateur">
          <div class="flex-container">
            <!-- Email -->
            <div class="input-group long-field">
              <label for="emailUtilisateur">Email</label>
              <input class="form-control form-control-lg" formControlName="email"
                     id="emailUtilisateur"
                     name="emailUtilisateur" required type="text">
            </div>
            <!-- Nom -->
            <div class="form-group long-field">
              <label for="nomUtilisateur">Nom</label>
              <input class="form-control form-control-lg" formControlName="nom"
                     id="nomUtilisateur"
                     name="nomUtilisateur" type="text">
            </div>
            <!-- Prenom -->
            <div class="form-group long-field">
              <label for="prenomUtilisateur">Prénom</label>
              <input class="form-control form-control-lg" formControlName="prenom"
                     id="prenomUtilisateur"
                     name="prenomUtilisateur" type="text">
            </div>
          </div>
        </form>
      </mat-expansion-panel>

      <!-- Mot de passe -->
      <mat-expansion-panel [expanded]="true">
        <!-- Titre & Description -->
        <mat-expansion-panel-header>
          <mat-panel-title>
            Mot de passe
          </mat-panel-title>
          <mat-panel-description>
            <!-- TODO faire message pour indiquer que mdp modif uniquement si remplit et un autre pour la creation -->
            <div class="descriptionPanel">Modifier le mot de passe de l'utilisateur</div>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <!-- Contenu -->
        <form [formGroup]="formMdp" id="formUtilisateurMdp">
          <div class="flex-container">
            <!-- Mot de passe -->
            <div class="input-group long-field">
              <label for="mdpUtilisateur">Mot de passe</label>
              <input [type]="typePassword" class="form-control form-control-lg"
                     formControlName="mdp"
                     id="mdpUtilisateur" name="mdpUtilisateur"
                     placeholder="Non affiché pour des raisons de sécurité">
              <!-- Affiche cache le mot de passe -->
              <div class="input-group-btn">
                <button (click)="hidePassword()" class="btn btn-default">
                  <i [class]="iconPassword"></i>
                </button>
              </div>
            </div>
            <!-- Verification mot de passe -->
            <div class="input-group long-field">
              <label for="verifMdpUtilisateur">R&eacute;&eacute;crire mot de passe</label>
              <input [type]="typePassword" class="form-control form-control-lg"
                     formControlName="verifMdp"
                     id="verifMdpUtilisateur" name="verifMdpUtilisateur"
                     placeholder="Non affiché pour des raisons de sécurité">
            </div>
            <!-- TODO Mettre un indicateur de force du mot de passe ? ou message d'erreur -->
          </div>
        </form>
      </mat-expansion-panel>

      <!-- Choix du role -->
      <mat-expansion-panel [expanded]="true">
        <!-- Titre & Description -->
        <mat-expansion-panel-header>
          <mat-panel-title>
            Rôles
          </mat-panel-title>
          <mat-panel-description>
            <div class="descriptionPanel">Modifier les rôles de l'utilisateur</div>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <!-- Contenu -->
        <mat-form-field [formGroup]="formRole">
          <mat-label>role</mat-label>
          <mat-select formControlName="id">
            <mat-option *ngFor="let role of roles" [value]="role.id">{{role.nom}}</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-expansion-panel>
    </mat-accordion>

  </div>


  <!-- Modal suppression utilisateur -->
  <ng-template #deleteModal>
    <div class="modal-header">
      <button (click)="modal.hide()" aria-describedby="modal-title" class="close" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title" id="modal-title">Supprimer
        l'utilisateur {{utilisateur.nom}} {{utilisateur.prenom}}</h4>
    </div>
    <div class="modal-body">
      <p><strong>&Ecirc;tes-vous sur de vouloir vous supprimer l'utilisateur ?</strong></p>
      <p>Attention cette action est irr&eacute;versible.</p>
    </div>
    <div class="modal-footer">
      <button (click)="modal.hide()" class="btn btn-outline-secondary" type="button">Annuler</button>
      <button (click)="deleteUser()" class="btn btn-danger" type="button">Supprimer</button>
    </div>
  </ng-template>


</div>
