<img class="bg" src="../../assets/img/dark-material-bg.jpg"/>
<div class="mainContainer">
  <div class="splash-screen">
    <div class="contentSplashScreen">
      <div class="ecommerceLogo">
        <img alt="logo" class="logo" height="128px" src="../../assets/img/icon.png" width="131px"/>
      </div>
      <div class="ecommerceDescription">
        <div class="titre">Bienvenue sur E-COMMERCE admin !</div>
        <div class="description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ullamcorper nisl
          erat, vel convallis elit fermentum pellentesque. Sed mollis velit facilisis facilisis viverra.
        </div>
      </div>
    </div>
  </div>
  <div class="sidebarLogin">
    <div class="DashboardcontentSideBar">
      <div class="sideBarTitle">
        Connectez-vous à votre compte
      </div>
      <div *ngIf="messageAlerte.message" class="messageAlerte">{{messageAlerte.message}}</div>
      <div class="loginForm">
        <mat-form-field>
          <input [(ngModel)]="utilisateur.email" matInput placeholder="Email">
        </mat-form-field>

        <mat-form-field>
          <input [(ngModel)]="utilisateur.mdp" [type]="hide ? 'password' : 'text'" matInput placeholder="Mot de passe">
          <mat-icon (click)="hide = !hide" matSuffix>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>

        <div class="optionSupplementaire">
          <div class="option">
            <mat-checkbox disabled>Se souvenir de moi</mat-checkbox>
          </div>
          <div class="optionLien"><a>mot de passe oublié?</a></div>
        </div>
        <button (click)="signIn()" [disabled]="utilisateur.mdp ==='' || utilisateur.email ===''" color="primary"
                mat-raised-button>Se connecter
        </button>

      </div>

    </div>


  </div>
</div>
