/*label {*/
  /*padding-top: 1em;*/
/*}*/

button {
  margin-top: 1em;
}

#message {
  font-weight: bold;
}

.error, #alerte {
  color: red;
}

.success {
  color: green;
}

li {
  list-style-type: none;
}

#form {
  margin-right: 10%;
}

.row {
  padding-top: 1em;
}
