.toolbar-pagination {
  display: flex;
}

.div-header{
  display: flex;
  justify-content: space-between;
}

.boutton_ajouterproduit{
  margin-top: 25px;
}

.card-footer {
  text-align: center;
}

.navigationButtons {
  background-color: white;
}
