<mat-card-header>
  <h1>Gestion des catégories de produits</h1>
</mat-card-header>
<div class="arbre">
  <div *ngIf="displayFilter" class="filterContainer">
    <mat-card class="filter">
      <mat-selection-list #filters>
        <mat-list-option *ngFor="let shoe of filter" disabled="false">
          {{shoe}}
        </mat-list-option>
      </mat-selection-list>
      <p>
        Options selected: {{filters.selectedOptions.selected.length}}
      </p>
    </mat-card>
  </div>
  <div class="arbreContainer">
    <mat-card class="arbreCard">
      <mat-card-header>
        <div class="toolTree">
          <button (click)="treeControl.expandAll()" [matTooltipPosition]="'below'" mat-icon-button
                  matTooltip="Ouvrir l'arbre">
            <mat-icon>
              add
            </mat-icon>
          </button>
          <button (click)="treeControl.collapseAll()" [matTooltipPosition]="'below'" mat-icon-button
                  matTooltip="Fermer l'abre">
            <mat-icon>close</mat-icon>
          </button>
          <button (click)="enableFilter()" [matTooltipPosition]="'below'" mat-icon-button
                  matTooltip="Afficher les filtres">
            <mat-icon class="mat-icon-rtl-mirror">
              filter_list
            </mat-icon>
          </button>
          <button (click)="addNewItem(null)" [matTooltipPosition]="'below'" mat-icon-button
                  matTooltip="Ajouter une categorie">
            <mat-icon>playlist_add</mat-icon>
          </button>


        </div>

      </mat-card-header>
      <div *ngIf="!hasCategories()" class="alert alert-danger">
        <strong>Aucune catégorie trouvée</strong>
      </div>
      <div *ngIf="nomCategorieIsEmpy" class="alert alert-danger">
        <strong>Veuillez renseigner un nom de catégorie valide</strong>
        <a class="float-right"> voir les régles de validité... </a>
      </div>
      <div class="arbreAndRacine">
        <div class="racineHeight">

          <div (onDrop)="deplacerCategorieFlatNode($event,undefined)" [dragHintClass]="'drag-hint-border-racine'"
               class="racineDroppable" droppable>
            Racine
          </div>
        </div>
        <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">


          <!-- NODE qui s'affiche si elle ne possède pas d'enfant -->
          <mat-tree-node (onDrop)="deplacerCategorieFlatNode($event,node)" *matTreeNodeDef="let node;" droppable
                         matTreeNodePadding matTreeNodeToggle>

            <!-- Le ngClass permet d'afficher le trait de lisibilité lorsque la node a un parent-->
            <div *ngIf="!node.expandable" ngClass="{{node.idParent!=undefined ? 'border' : ''}}">
              <!--prend la place d'un bouton-->
              <button disabled mat-icon-button></button>
            </div>
            <button *ngIf="node.expandable" [attr.aria-label]="'toggle ' + node.nomCategorie" mat-icon-button
                    matTreeNodeToggle>
              <mat-icon class="mat-icon-rtl-mirror">
                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
              </mat-icon>
            </button>
            <!--Div qui contient la node (le nom de la categorie) ainsi que la barre d'outil situé sur sa droite-->
            <div (mouseout)="disableToolNode(node)" (mouseover)="enableToolNode(node)" [dragData]="node"
                 [dragEnabled]="!node.isInEditMode"
                 class="nodeAndTool" draggable>
              <!-- si la node est en mode edition le click sur cette dernière ne fait rien, sinon le click permet
              de rentrer en mode edition -->
              <div (click)="node.isInEditMode ? null :editCategorieName(node)" *ngIf="!node.isInEditMode" class="node">
                {{node.nomCategorie}}
              </div>
              <!-- formulaire qui contient les champs qui apparaissent quand la node entre en mode edit (modification) -->
              <mat-form-field *ngIf="node.isInEditMode">
                <!-- Input pour modifier le nom de la categorie-->
                <input (keyup.enter)="editCategorieName(node)" [(ngModel)]="node.nomCategorieModifie" matInput>
              </mat-form-field>
              <!-- Div contenant les outils elle apparait quand le boolean node.enableToolNode est vrai-->
              <div [hidden]="!node.enableToolNode" class="tool">
                <!--Bouton permettant la sortie du mode edition-->
                <button
                  (click)="node.nomCategorieModifie=node.nomCategorie;node.isInEditMode=false;node.enableToolNode=false;nomCategorieIsEmpy = false;"
                  *ngIf="node.isInEditMode"
                  mat-icon-button>
                  <mat-icon class="mat-icon-rtl-mirror">
                    cancel
                  </mat-icon>
                </button>
                <!--Bouton permettant l'entré en mode edition ainsi que la validation des modification,
                c'est pour cela qu'on appelle une methode qui se chargera de savoir si il faut entré en mode edition
                ou bien enregistré les modification -->
                <button (click)="editCategorieName(node)" color="primary" mat-icon-button>
                  <mat-icon class="mat-icon-rtl-mirror">
                    <!--Si la node est en edit mode l'icone check apparait sinon l'icone edit apparait-->
                    {{node.isInEditMode ? 'check' : 'edit'}}
                  </mat-icon>
                </button>
                <!--Bouton permettant la suppression -->
                <button (click)="confirmModal(deleteModal, node)" color="warn" mat-icon-button>
                  <mat-icon class="mat-icon-rtl-mirror">
                    delete

                  </mat-icon>
                </button>
                <button (click)="addNewItem(node)" mat-icon-button matTreeNodeToggle>
                  <mat-icon>add</mat-icon>
                </button>
              </div>
            </div>
          </mat-tree-node>
          <!-- NODE qui s'affiche si elle possède des enfants -->
          <mat-tree-node (onDrop)="deplacerCategorieFlatNode($event,node)" *matTreeNodeDef="let node;when: hasChild"
                         droppable matTreeNodePadding>
            <button [attr.aria-label]="'toggle ' + node.nomCategorie" mat-icon-button
                    matTreeNodeToggle>
              <mat-icon *ngIf="node.expandable" class="mat-icon-rtl-mirror">
                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
              </mat-icon>
            </button>
            <!--Div qui contient la node (le nom de la categorie) ainsi que la barre d'outil situé sur sa droite-->
            <div (mouseout)="disableToolNode(node)" (mouseover)="enableToolNode(node)" [dragData]="node"
                 [dragEnabled]="!node.isInEditMode"
                 class="nodeAndTool" draggable>
              <!-- si la node est en mode edition le click sur cette dernière ne fait rien, sinon le click permet
              de rentrer en mode edition -->
              <div (click)="node.isInEditMode ? null :editCategorieName(node)" *ngIf="!node.isInEditMode" class="node">
                {{node.nomCategorie}}
              </div>
              <!-- formulaire qui contient les champs qui apparaissent quand la node entre en mode edit (modification) -->
              <mat-form-field *ngIf="node.isInEditMode">
                <!-- Input pour modifier le nom de la categorie-->
                <input (keyup.enter)="editCategorieName(node)" [(ngModel)]="node.nomCategorieModifie" matInput>
              </mat-form-field>
              <!-- Div contenant les outils elle apparait quand le boolean node.enableToolNode est vrai-->
              <div [hidden]="!node.enableToolNode" class="tool">
                <!--Bouton permettant la sortie du mode edition-->
                <button (click)="node.isInEditMode=false;node.enableToolNode=false;" *ngIf="node.isInEditMode"
                        mat-icon-button>
                  <mat-icon class="mat-icon-rtl-mirror">
                    cancel
                  </mat-icon>
                </button>
                <!--Bouton permettant l'entré en mode edition ainsi que la validation des modification,
                c'est pour cela qu'on appelle une methode qui se chargera de savoir si il faut entré en mode edition
                ou bien enregistré les modification -->
                <button (click)="editCategorieName(node)" color="primary" mat-icon-button>
                  <mat-icon class="mat-icon-rtl-mirror">
                    <!--Si la node est en edit mode l'icone check apparait sinon l'icone edit apparait-->
                    {{node.isInEditMode ? 'check' : 'edit'}}
                  </mat-icon>
                </button>

                <!--Bouton permettant la suppression-->
                <button (click)="deleteCategorie(node)" color="warn" mat-icon-button>
                  <mat-icon class="mat-icon-rtl-mirror">
                    delete
                  </mat-icon>
                </button>
                <button (click)="addNewItem(node)" mat-icon-button>
                  <mat-icon>add</mat-icon>
                </button>
              </div>
            </div>
          </mat-tree-node>
          <!-- NODE qui s'affiche si node.nomCategorie = '' ie on créer une categorie -->
          <mat-tree-node *matTreeNodeDef="let node; when: hasNoContent" matTreeNodePadding>
            <!-- Le ngClass permet d'afficher le trait de lisibilité lorsque la node a un parent-->
            <div ngClass="{{node.idParent!=undefined ? 'border' : ''}}">
              <!--prend la place d'un bouton-->
              <button disabled mat-icon-button></button>
            </div>
            <div class="nodeAndTool">
              <div class="node">
                <mat-form-field>
                  <input #itemValue (keyup.enter)="saveNode(node, itemValue.value)" matInput
                         placeholder="Nouvelle catégorie...">
                </mat-form-field>
              </div>
              <div class="tool">

                <button (click)="cancelAddCategorie(node)" color="warn" mat-icon-button>
                  <mat-icon class="mat-icon-rtl-mirror">
                    cancel
                  </mat-icon>
                </button>
                <button (click)="saveNode(node, itemValue.value)" color="primary" mat-raised-button>
                  Enregistrer
                </button>
              </div>
            </div>
          </mat-tree-node>


        </mat-tree>
      </div>


    </mat-card>
  </div>


</div>


<ng-template #deleteModal>
  <div class="modal-header">
    <button (click)="modale.hide()" aria-describedby="modal-title" class="close" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="modal-title">Supprimer
      la catégorie {{categorieSelected.nomCategorie}} </h4>
  </div>
  <div class="modal-body">
    <p><strong>&Ecirc;tes-vous sur de vouloir vous supprimer cette catégorie ?</strong></p>
    <p>Attention cette action est irr&eacute;versible.</p>
  </div>
  <div class="modal-footer">
    <button (click)="modale.hide()" class="btn btn-outline-secondary" type="button">Annuler</button>
    <button (click)="deleteCategorie()" class="btn btn-danger" type="button">Supprimer</button>
  </div>
</ng-template>


