

.mat-tree-node{
  font-size: 1.7rem;
  height: 20px;

}
.border{
  height: 48px;
  border-left-style:groove;
}
.tool{
margin-left: 20px;
}

.nodeAndTool{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-right: 100px;
}

.messageSupression{
  color: lightgrey;
}
.arbre{
  margin-top: 30px;
  display : flex;
  flex-direction: row;
  justify-content: center;
}
.arbreContainer{
  display : flex;
  flex-direction: column;
  align-items: center;
  flex:8;
  margin-bottom: 100px;
}
.arbreCard{
  min-width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.filterContainer{
  flex:1;
  display : flex;
  flex-direction: column;
  align-items: start;

}
.mat-selection-list{
  display : flex;
  flex-direction: column;
}

.toolTree{
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  border-bottom-style:groove;
  border-bottom-width: 1px;
}
.alert{
  margin-top:2px;
}
.float-right{
  float: right;
}
.drag-transit{
  font-size: 20px;
  border: dashed 2px;
}

.drag-border{
  opacity: 0.33;
}
.drag-over-border{
  width: 100%;
  border-style:groove;
}
.racineDroppable{
  width: 50px;
  height: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  display: none;
  justify-content: center;
  align-items: center;
  border: dashed;
  border-width: 2px;
}
.drag-hint-border-racine{
  display: flex;
}
.racineHeight{
  width: 50px;
}
.arbreAndRacine{
  display: flex;
  flex-direction: row;
}
.mat-tree-node{
  min-height: 40px !important;
}

