
<mat-card-header >
  <h1>Gestion des catégories de produits</h1>
</mat-card-header>
<div class="arbre">
  <div class="filterContainer" *ngIf="displayFilter">
    <mat-card class="filter" >
      <mat-selection-list #filters >
        <mat-list-option *ngFor="let shoe of filter" disabled="false">
          {{shoe}}
        </mat-list-option>
      </mat-selection-list>
      <p>
        Options selected: {{filters.selectedOptions.selected.length}}
      </p>
    </mat-card>
  </div>
  <div class="arbreContainer">
    <mat-card class="arbreCard">
      <mat-card-header>
        <div class="toolTree">
          <button  mat-icon-button (click)="addNewItem(null)"><mat-icon>add</mat-icon></button>
          <button mat-icon-button (click)="enableFilter()" [matTooltipPosition]="'before'"
                  matTooltip="Afficher les filtres">
            <mat-icon class="mat-icon-rtl-mirror">
             filter_list
            </mat-icon>
          </button>
        </div>

      </mat-card-header>
      <div class="alert alert-danger" *ngIf="!hasCategories()">
        <strong>Aucune catégorie trouvée</strong>
      </div>
      <div class="alert alert-danger" *ngIf="nomCategorieIsEmpy">
        <strong>Veuillez renseigner un nom de catégorie valide</strong>
        <a class="float-right"> voir les régles de validité... </a>
      </div>
      <div class="arbreAndRacine">
        <div class="racineHeight">

          <div  droppable [dragHintClass]="'drag-hint-border-racine'" (onDrop)="deplacerCategorieFlatNode($event,undefined)" class="racineDroppable" >
            Racine
          </div>
        </div>
        <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">


          <!-- NODE qui s'affiche si elle ne possède pas d'enfant -->
          <mat-tree-node  *matTreeNodeDef="let node;" droppable (onDrop)="deplacerCategorieFlatNode($event,node)" matTreeNodeToggle matTreeNodePadding>

            <!-- Le ngClass permet d'afficher le trait de lisibilité lorsque la node a un parent-->
            <div *ngIf="!node.expandable" ngClass="{{node.idParent!=undefined ? 'border' : ''}}">
              <!--prend la place d'un bouton-->
              <button mat-icon-button disabled></button>
            </div>
            <button  *ngIf="node.expandable" mat-icon-button matTreeNodeToggle
                     [attr.aria-label]="'toggle ' + node.nomCategorie">
              <mat-icon class="mat-icon-rtl-mirror" >
                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
              </mat-icon>
            </button>
            <!--Div qui contient la node (le nom de la categorie) ainsi que la barre d'outil situé sur sa droite-->
            <div class="nodeAndTool" draggable [dragEnabled]="!node.isInEditMode" [dragData]="node"  (mouseover)="enableToolNode(node)" (mouseout)="disableToolNode(node)" >
              <!-- si la node est en mode edition le click sur cette dernière ne fait rien, sinon le click permet
              de rentrer en mode edition -->
              <div  class="node" *ngIf="!node.isInEditMode" (click)="node.isInEditMode ? null :editCategorieName(node)" >
                {{node.nomCategorie}}
              </div>
              <!-- formulaire qui contient les champs qui apparaissent quand la node entre en mode edit (modification) -->
              <mat-form-field *ngIf="node.isInEditMode">
                <!-- Input pour modifier le nom de la categorie-->
                <input matInput [(ngModel)]="node.nomCategorieModifie" (keyup.enter)="editCategorieName(node)">
              </mat-form-field>
              <!-- Div contenant les outils elle apparait quand le boolean node.enableToolNode est vrai-->
              <div class="tool" [hidden]="!node.enableToolNode">
                <!--Bouton permettant la sortie du mode edition-->
                <button mat-icon-button (click)="node.nomCategorieModifie=node.nomCategorie;node.isInEditMode=false;node.enableToolNode=false;nomCategorieIsEmpy = false;" *ngIf="node.isInEditMode">
                  <mat-icon class="mat-icon-rtl-mirror" >
                    cancel
                  </mat-icon>
                </button>
                <!--Bouton permettant l'entré en mode edition ainsi que la validation des modification,
                c'est pour cela qu'on appelle une methode qui se chargera de savoir si il faut entré en mode edition
                ou bien enregistré les modification -->
                <button mat-icon-button color="primary" (click)="editCategorieName(node)" >
                  <mat-icon  class="mat-icon-rtl-mirror">
                    <!--Si la node est en edit mode l'icone check apparait sinon l'icone edit apparait-->
                    {{node.isInEditMode ? 'check' : 'edit'}}
                  </mat-icon>
                </button>
                <!--Bouton permettant la suppression -->
                <button mat-icon-button color="warn" (click)="deleteCategorie(node)" >
                  <mat-icon class="mat-icon-rtl-mirror">
                    delete

                  </mat-icon>
                </button>
                <button mat-icon-button matTreeNodeToggle (click)="addNewItem(node)" ><mat-icon>add</mat-icon></button>
              </div>
            </div>
          </mat-tree-node>
          <!-- NODE qui s'affiche si elle possède des enfants -->
          <mat-tree-node droppable (onDrop)="deplacerCategorieFlatNode($event,node)" *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
            <button  mat-icon-button matTreeNodeToggle
                     [attr.aria-label]="'toggle ' + node.nomCategorie">
              <mat-icon class="mat-icon-rtl-mirror" *ngIf="node.expandable">
                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
              </mat-icon>
            </button>
            <!--Div qui contient la node (le nom de la categorie) ainsi que la barre d'outil situé sur sa droite-->
            <div class="nodeAndTool"   draggable  [dragEnabled]="!node.isInEditMode" [dragData]="node" (mouseover)="enableToolNode(node)" (mouseout)="disableToolNode(node)" >
              <!-- si la node est en mode edition le click sur cette dernière ne fait rien, sinon le click permet
              de rentrer en mode edition -->
              <div class="node" *ngIf="!node.isInEditMode" (click)="node.isInEditMode ? null :editCategorieName(node)" >
                {{node.nomCategorie}}
              </div>
              <!-- formulaire qui contient les champs qui apparaissent quand la node entre en mode edit (modification) -->
              <mat-form-field *ngIf="node.isInEditMode">
                <!-- Input pour modifier le nom de la categorie-->
                <input matInput [(ngModel)]="node.nomCategorieModifie" (keyup.enter)="editCategorieName(node)">
              </mat-form-field>
              <!-- Div contenant les outils elle apparait quand le boolean node.enableToolNode est vrai-->
              <div class="tool" [hidden]="!node.enableToolNode">
                <!--Bouton permettant la sortie du mode edition-->
                <button mat-icon-button (click)="node.isInEditMode=false;node.enableToolNode=false;" *ngIf="node.isInEditMode">
                  <mat-icon class="mat-icon-rtl-mirror" >
                    cancel
                  </mat-icon>
                </button>
                <!--Bouton permettant l'entré en mode edition ainsi que la validation des modification,
                c'est pour cela qu'on appelle une methode qui se chargera de savoir si il faut entré en mode edition
                ou bien enregistré les modification -->
                <button mat-icon-button color="primary" (click)="editCategorieName(node)">
                  <mat-icon class="mat-icon-rtl-mirror">
                    <!--Si la node est en edit mode l'icone check apparait sinon l'icone edit apparait-->
                    {{node.isInEditMode ? 'check' : 'edit'}}
                  </mat-icon>
                </button>

                <!--Bouton permettant la suppression-->
                <button mat-icon-button color="warn" (click)="deleteCategorie(node)">
                  <mat-icon class="mat-icon-rtl-mirror">
                    delete
                  </mat-icon>
                </button>
                <button mat-icon-button (click)="addNewItem(node)"><mat-icon>add</mat-icon></button>
              </div>
            </div>
          </mat-tree-node>
          <!-- NODE qui s'affiche si node.nomCategorie = '' ie on créer une categorie -->
          <mat-tree-node *matTreeNodeDef="let node; when: hasNoContent" matTreeNodePadding>
            <!-- Le ngClass permet d'afficher le trait de lisibilité lorsque la node a un parent-->
            <div ngClass="{{node.idParent!=undefined ? 'border' : ''}}">
              <!--prend la place d'un bouton-->
              <button mat-icon-button disabled></button>
            </div>
            <div class="nodeAndTool">
              <div class="node">
                <mat-form-field>
                  <input (keyup.enter)="saveNode(node, itemValue.value)" matInput #itemValue placeholder="Nouvelle catégorie...">
                </mat-form-field>
              </div>
              <div class="tool">

                <button mat-icon-button color="warn" (click)="cancelAddCategorie(node)">
                  <mat-icon class="mat-icon-rtl-mirror">
                    cancel
                  </mat-icon>
                </button>
                <button mat-raised-button color="primary" (click)="saveNode(node, itemValue.value)">
                  Enregistrer
                </button>
              </div>
            </div>
          </mat-tree-node>



        </mat-tree>
      </div>



    </mat-card>
  </div>


</div>




