<h1>Gestion des caractéristiques</h1>

<mat-card>

  <!--Fields modifications des caractéristiques-->
  <div id="addCaracDiv">
    <div>
      <form>
        <mat-form-field>
          <input matInput [formControl]="inputNewCaracteristiqueFormControl" placeholder="Nouvelle Caractéristique" name="valueNewCarac">
        </mat-form-field>
      </form>
    </div>

    <div>
      <button mat-icon-button>
        <mat-icon (click)="createCaracteristique()">
          add
        </mat-icon>
      </button>
    </div>
  </div>

  <mat-list>
    <mat-list-item *ngFor="let carac of this.caracteristiques">
      <div (mouseover)="activateButtons(carac)" (mouseout)="unactivateButtons(carac)" class="caracListItem">
        <div>
          {{carac.label}}
        </div>

        <div [hidden]="!this.caracteristiquesActivatedButtons.get(carac)" class="caracButtonsHiddenSwitch">
          <div class="caracButtonsFlex">
            <div>
              <button mat-icon-button>
                <mat-icon color="primary">edit</mat-icon>
              </button>
            </div>

            <div>
              <button mat-icon-button (click)="removeCaracteristique(carac)">
                <mat-icon color="warn">delete</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>

    </mat-list-item>
  </mat-list>
</mat-card>
