// Longueur des champs
$short-field-width: 12%;
$short-field-min-width: 150px;
$long-field-width: 35%;
$long-field-min-width: 200px;

// s
$navbar-color: #F9FAFB;

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  .form-group {
    margin-right: 1em;
  }
}

.short-field {
  width: $short-field-width;
  min-width: $short-field-min-width;
}

.long-field {
  width: $long-field-width;
  min-width: $long-field-min-width;
}

.navbar-fixed-top {
  width: 100%;
  right: unset;
  left: unset;
  background-color: $navbar-color;
}

#message {
  font-weight: bold;
  color: green;
}
.demo-chip-list {
  width: 100%;
}
#mainContainer{
  padding-top: 60px;
}
.mat-expansion-panel-header-description .material-icons{
  margin-left: auto;
}
.mat-expansion-panel-header-description .mat-panel-title{
  margin: auto;
}
.descriptionPanel{
  margin: auto;
}
.mat-form-field-wrapper {
  width: 100%;
}
.photoCard{
  max-width: 30%;
  min-width: 200px;
  margin: 10px;
}
.rowPhoto{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.rowUpload{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.img{
  padding: 5px;
}

.app-upload-img{
  margin-bottom: 10px;
}

.backArrow{
  cursor:pointer;
  padding: 5px;
  margin-bottom: 20px;
  padding-left: 0;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

}

.alert {
  margin-top: 20px;
}

@media only screen and (max-width: 740px) {
  .toolbar {
    margin: 50px 0px 10px 0;
  }
}

