#message {
  font-weight: bold;
  color: green;
}
.demo-chip-list {
  width: 100%;
}

#mainContainer{
  margin-top: 10px;
  padding-top: 10px;
}
.mat-expansion-panel-header-description .material-icons{
  margin-left: auto;
}
.mat-expansion-panel-header-description .mat-panel-title{
  margin: auto;
}
.descriptionPanel{
  margin: auto;
}
.mat-form-field-wrapper {
  width: 100%;
}
.photoCard{
  max-width: 30%;
  min-width: 200px;
  margin: 10px;
}
.rowPhoto{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;}
.rowUpload{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
img{
  padding: 5px;
}
app-upload-img{
  margin-bottom: 10px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

}

.form-group {
  margin-right: 1em;
}

.short-field {
  width: 12%;
  min-width: 150px;
}

.long-field {
  width: 35%;
  min-width: 200px
}
