#message {
  font-weight: bold;
  color: green;
}
.demo-chip-list {
  width: 100%;
}

#mainContainer{
  margin-top: 10px;
  padding-top: 10px;
}
.mat-expansion-panel-header-description .material-icons{
  margin-left: auto;
}
.mat-expansion-panel-header-description .mat-panel-title{
  margin: auto;
}
.descriptionPanel{
  margin: auto;
}
.mat-form-field-wrapper {
  width: 100%;
}
.photoCard{
  max-width: 30%;
  min-width: 200px;
  margin: 10px;
}
.rowPhoto{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.rowUpload{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.img{
  padding: 5px;
}

.app-upload-img{
  margin-bottom: 10px;
}

.backArrow{
  cursor:pointer;
  padding: 5px;
  margin-bottom: 20px;
  padding-left: 0;
}

.mat-expansion-panel{
  margin-bottom: 10px;
}

.navbar-fixed-top{
  width: 100%;
  right: unset;
  left: unset;
  background: white;
}

.alert {
  margin-top: 20px;
}

