<div *ngIf="isLogged" class="container-fluid">
  <div class="row contenu">
    <nav class="col-sm-2 col-md-2 hidden-xs-down bg-faded sidebar">
      <ul id="sidebarnav">
        <li> <a routerLink="/admin/produit" routerLinkActive="active"><i class="mdi mdi-gauge"></i><span class="hide-menu">Produit</span></a>
        </li>
        <li> <a routerLink="/admin/utilisateur" routerLinkActive="active"><i class="mdi mdi-gauge"></i><span class="hide-menu">Utilisateur</span></a>
        </li>
        <li> <a routerLink="/admin/arbre" routerLinkActive="active"><i class="mdi mdi-gauge"></i><span class="hide-menu">Arbre</span></a>
        </li>
      </ul>
    </nav>
    <main class="col-sm-10 offset-sm-2 col-md-12 offset-md-1 pt-2">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>

<div *ngIf="!isLogged" class="container-fluid">
  <div class="row contenu">
    <main class="col-sm-12  col-md-12 noPadding">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
