<div class="container-fluid">
  <div class="row contenu">
    <nav *ngIf="authData.isSet()" class="col-sm-2 col-md-2 hidden-xs-down bg-faded sidebar">
      <div class="navTool">
        <button (click)="goHome()" mat-icon-button>
          <mat-icon aria-label="Example icon-button with a heart icon" class="white-icon">home</mat-icon>
        </button>
        <button (click)="confirmModal(logoutModal)" mat-icon-button>
          <mat-icon aria-label="Example icon-button with a heart icon" class="white-icon">exit_to_app</mat-icon>
        </button>
        <div class=" infoUser">
         <a routerLink="/admin/utilisateur/compte" routerLinkActive="active">
           <span *ngIf="user && user.nom !== '' && user.prenom !== ''; else anonyme">{{user.nom}} {{user.prenom}}</span>
           <ng-template #anonyme>Anonyme</ng-template>
         </a>
        </div>
      </div>
      <ul id="sidebarnav">
        <li><a routerLink="/admin/produit" routerLinkActive="active"><i class="mdi mdi-gauge"></i><span
          class="hide-menu">Produit</span></a>
        </li>
        <li><a routerLink="/admin/utilisateur" routerLinkActive="active"><i class="mdi mdi-gauge"></i><span
          class="hide-menu">Utilisateur</span></a>
        </li>
        <li><a routerLink="/admin/categorie" routerLinkActive="active"><i class="mdi mdi-gauge"></i><span
          class="hide-menu">Categorie</span></a>
        </li>
      </ul>
    </nav>
    <main
      [class]="authData.isSet() ? 'col-sm-10 offset-sm-2 col-md-12 offset-md-1 pt-2' : 'col-sm-12  col-md-12 noPadding'"
      class="col-sm-10 offset-sm-2 col-md-12 offset-md-1 pt-2">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>

<ng-template #logoutModal>
  <div class="modal-header">
    <button (click)="closeConfirmModal()" aria-describedby="modal-title" class="close" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="modal-title">D&eacute;connexion</h4>
  </div>
  <div class="modal-body">
    <p><strong>&Ecirc;tes-vous sur de vouloir vous d&eacute;connecter ?</strong></p>
    <p>Toutes les informations non sauvegard&eacute;es seront perdues.</p>
  </div>
  <div class="modal-footer">
    <button (click)="closeConfirmModal()" class="btn btn-outline-secondary" type="button">Annuler</button>
    <button (click)="logout()" class="btn btn-danger" type="button">D&eacute;connexion</button>
  </div>
</ng-template>

