<div #toolContainerNotFixed>
  <mat-toolbar class="toolContainer">
    <mat-toolbar-row>

    </mat-toolbar-row>
    <mat-toolbar-row>

    </mat-toolbar-row>
    <mat-toolbar-row *ngIf="!cacherAlert || !cacherErreur">
    </mat-toolbar-row>

  </mat-toolbar>
</div>

<div *ngIf="utilisateur">
  <div class="navbar-fixed-top">
    <mat-toolbar class="toolContainer">
      <mat-toolbar-row>
        <div class="title">
          {{ajout ? 'Ajout d\'utilisateur' : '' + utilisateur.email + ' - ' + utilisateur.id }}
        </div>
      </mat-toolbar-row>
      <mat-toolbar-row>
        <div class="toolbar">
          <div class="leftTool">
            <i (click)="goBack()" [matTooltipPosition]="positionAfterTooltip"
               class="material-icons backArrow"
               matTooltip="Revenir en arrière">arrow_back</i>
          </div>
        </div>
      </mat-toolbar-row>
      <mat-toolbar-row *ngIf="!cacherAlert || !cacherErreur">
        <div class="alerteDiv">
          <div *ngIf="!cacherAlert" [hidden]="cacherAlert" class="alert alert-success" role="alert">{{message}}</div>
          <div *ngIf="!cacherErreur" [hidden]="cacherErreur" class="alert alert-danger" role="alert">{{message}}</div>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>


  <div>
    <mat-accordion multi="true">
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Détails utilisateur
          </mat-panel-title>
        </mat-expansion-panel-header>

        <form id="formUtilisateur">
          <div class="flex-container">

            <div class="input-group long-field">
              <label>Email</label>

            </div>

            <div class="input-group long-field">
              <label>Mot de passe</label>

            </div>

            <div class="form-group short-field">
              <label>Nom</label>

            </div>

            <div class="form-group short-field">
              <label>Prénom</label>

            </div>

            <div class="form-group short-field">
              <label>Rôle</label>

            </div>

          </div>
        </form>

      </mat-expansion-panel>
    </mat-accordion>
  </div>










