<div #toolContainerNotFixed>
  <mat-toolbar class="toolContainer">
    <mat-toolbar-row>

    </mat-toolbar-row>
    <mat-toolbar-row>

    </mat-toolbar-row>
    <mat-toolbar-row *ngIf="!cacherAlert || !cacherErreur">
    </mat-toolbar-row>

  </mat-toolbar>
</div>

<div *ngIf="utilisateur">
  <div class="navbar-fixed-top">
    <mat-toolbar class="toolContainer">

      <mat-toolbar-row>
        <div class="title">
          {{utilisateur.email + ' - ' + utilisateur.id }}
        </div>
      </mat-toolbar-row>

      <mat-toolbar-row>
        <div class="toolbar">
          <div class="leftTool">
            <i (click)="goBack()" [matTooltipPosition]="positionAfterTooltip"
               class="material-icons backArrow"
               matTooltip="Revenir en arrière">arrow_back</i>
          </div>
        </div>
      </mat-toolbar-row>

    </mat-toolbar>
  </div>

  <div class="infoUtilisateur">

    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header class="titre">

        <h2>Détails utilisateur</h2>

      </mat-expansion-panel-header>

      <div class="flex-container">

        <div class="input-group short-field">
          <h3>Email</h3><br>
          <div>
            <h4>ici email</h4>
          </div>
        </div>

        <div class="form-group short-field">
          <h3>Nom</h3><br>
          <div>
            <h4>ici nom</h4>
          </div>
        </div>

        <div class="form-group short-field">
          <h3>Prénom</h3><br>
          <div>
            <h4>ici prénom</h4>
          </div>
        </div>

        <div class="form-group short-field">
          <h3>Rôle</h3><br>
          <div>
            <h4>ici rôle</h4>
          </div>
        </div>

      </div>

    </mat-expansion-panel>

  </div>










