<div class="div-header">
  <h1>Gestion des utilisateurs</h1>
  <a class="boutton_ajouterproduit" [routerLink]="['/admin/utilisateur/ajouter']">
    <button class="btn btn-success centrer-block"><b class="noShow">Ajouter d'un utilisateur</b><i class="material-icons">add</i></button>
  </a>
</div>

<div class="row">
  <div class="margin card">
    <div class="card-header">
      <strong>Filtres</strong>
    </div>
    <div class="card-body">
      <div class="afficher flex flex-row">
        <span class="text_afficher">Nombre d'utilisateur à afficher:</span>
        <div class="form-group">
          <select id="messagesParPage" (change)="selected($event.target.value)" class="form-control" o>
            <option value="5">5</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="75">75</option>
            <option value="100">100</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="margin card">
    <div class="card-header">
      <strong>Nombre total d'utilisateur: {{paginationService.getTotal()}}</strong>
      <span class="text_afficher">Page {{paginationService.getActualPage()}} sur {{paginationService.getMaxPage()}}</span>
      <div class="toolbar-pagination">
        <button type="button" class="btn btn-outline-success" (click)="paging('precedent')"><- Précédent
        </button>
        <div class="espace"></div>
        <button type="button" class="btn btn-outline-success" (click)="paging('suivant')">Suivant -></button>
      </div>
    </div>
    <div class="card-body">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-striped table-hover">
            <thead>
            <tr>
              <th>ID</th>
              <th>Email</th>
              <th>Nom</th>
              <th>Prénom</th>
              <th></th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngIf="paginationService.getTotal() > 0;else pasDeProduit">
              <tr *ngFor="let utilisateur of this.paginationService.getArray()">
                <td><p>{{utilisateur.id}}</p></td>
                <td><p>{{utilisateur.email}}</p></td>
                <td><p>{{utilisateur.nom}}</p></td>
                <td><p>{{utilisateur.prenom}}</p></td>
                <td>
                  <a [routerLink]="['/admin/utilisateur/detail', utilisateur.id]">
                    <button type="button" class="btn btn-warning centrer-block"><b class="noShow">Modifier</b><i class="material-icons">create</i></button>
                  </a>
                </td>
                <td>
                  <button type="button" class="btn btn-danger centrer-block" (click)="deleteUser(utilisateur)"><b class="noShow">Supprimer</b><i class="material-icons">delete</i></button>
                </td>
              </tr>
            </ng-container>

            <ng-template #pasDeProduit>
              <tr>
                <td colspan="4">Aucun utilisateur à afficher</td>
              </tr>
            </ng-template>

            </tbody>

          </table>
        </div>
      </div>
    </div>
    <div class="card-header">
      <br>
    </div>
  </div>
</div>
