/* You can add global styles to this file, and also import other style files */



@import '~@angular/material/prebuilt-themes/indigo-pink.css';
/*
  Nav bar
 */
.snackBar{
  min-width: 700px !important;
  padding:2px 0px 2px !important;
  padding-bottom: 14px !important;
  margin-bottom: 5px  !important;
  background-color:#4BB543 !important;
  border-radius: 10px !important;
  margin-top: 14px !important;
  margin-left: 14px !important;
  margin-right: 14px !important;
}

a:hover{
  text-decoration: none;
}
a:checked{
  text-decoration: none;
}
.toolbar {
  display: flex;
  margin: 10px 0px 10px 0;
  justify-content: space-between;
}
label {
  font-weight: 500 !important;
}
.navbar{
  margin: 0px;
}

.sidebar ul li a {
  color: white;
  padding: 8px 35px 8px 15px;
  display: block;
  font-size: 15px;
  border-radius: 4px;
  white-space: nowrap;
}

/*
  Panel gauche
*/

.left-panel {
  background: #272c33;
}

/*
  Général
 */

html, app-root, body{
  margin:0;
  height:100%;
}

body {
  background-color:#F9FAFB;
  margin:0;
  min-height: 100%;
}

app-root {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.container-fluid { z-index: 4;
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 0;
   margin-left: 0;
}

.contenu {
  display: flex;
  flex-direction: row;
  flex: 1;
}

main {
  overflow: auto;
}

.form-inline {
  display: inline-block;
}

.centrer-block {
  display: flex;
  justify-content: center;
  margin-left: 10px!important;
}

.centrer-block > b {
  margin-top: 2px;
  margin-right: 5px;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.text-align-center {
  text-align: center;
}

.margin-none {
  margin: 0 !important;
}

.margin {
  margin: 1%;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.espace {
  margin-right: 10px;
}

.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar {
  bottom: 0;
  left: 0;
  border-right: 1px solid #eee;
  background-color: #272c33;
  z-index: 4;
}

/*
Styles pour les pages de listes de produits et de catégories
 */
.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.card-header:first-child {
  border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}
.card-header {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0,0,0,.03);
  border-bottom: 1px solid rgba(0,0,0,.125);
  display: flex;
  justify-content: space-between;
}

.card-header button {

}

.card-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}

#test {
  display: flex;
  justify-content: space-between;
}


/*
Requête média pour l'affichage du texte dans les boutons
 */
@media screen and (max-width: 768px) {
  .noShow {
    display: none;
  }
}


