/* You can add global styles to this file, and also import other style files */


/*
  Nav bar
 */

.navbar {
  margin: 0px;
}

.sidebar ul li a {
  color: white;
  padding: 8px 35px 8px 15px;
  display: block;
  font-size: 15px;
  border-radius: 4px;
  white-space: nowrap;
}

/*
  Panel gauche
*/

.left-panel {
  background: #272c33;
}

/*
  Général
 */

html, app-root, body{
  margin:0;
  height:100%;
}

body {
  margin:0;
  min-height: 100%;
}

app-root {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.container-fluid {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 0;
   margin-left: 0;
}

.contenu {
  display: flex;
  flex-direction: row;
  flex: 1;
}

main {
  overflow: auto;
}

.form-inline {
  display: inline-block;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.margin {
  margin: 1%;
}

.espace {
  margin-right: 10px;
}

.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar {
  bottom: 0;
  left: 0;
  padding: 20px;
  border-right: 1px solid #eee;
  background-color: #272c33;
}






